{% load static %}




<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portofolio | Syafa</title>
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Syafa</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="#project">Projects</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            
                            <div class="text-center text-xxl-start">
                            {% for identity in identity %}
                                <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Hi! <br> I'm {{ identity.name }}</span></h1>
                                <p class="lead fw-light text-primary mb-4"><span class="fw-bolder text-secondary">I am a telecommunications engineer with an interest in networking</span></p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% static 'assets/CV.pdf' %}">Download My Resume</a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-xxl-7">
                            <!-- Header profile picture-->
                            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                                    <img class="profile-img" src="{% static 'assets/profiles.png' %}" alt="Avatar" />
                            </div>
                        </div>              
            </header>
            
            
            <section id="resume">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                   <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-primary fw-bolder mb-0">Education</h2>
                            {% for education in education %}
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="text-secondary fw-lighter mb-1">{{ education.start }} - {{ education.end }}</div>
                                        <div class="text-primary fw-bolder fs-6">{{ education.institution }} </div>
                                        <div class="small fst-italic">{{ education.major }}</div>
                                    </div>
                                </div>    
                            </div>
                            {% endfor %}
                        </section>
                        
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                            </div>
                            {% for experience in experience %}
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">{{ experience.date }}</div>
                                                <div class="small fw-bolder fst-italic">{{ experience.category }}</div>
                                                <div class="small text-muted">{{ experience.place }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                        <div class="text-primary fw-bolder fs-6">{{ experience.name }} </div>
                                        <div class="text-secondary fw-lighter">Held by {{ experience.heldby }} </div>
                                        <div class="text-secondary fw-lighter">{{ experience.description }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </section>
            </section>
            
            <section id="project">
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    {% for project in project %}
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">{{ project.name }}</h2>
                                            <div class="small fw-bolder fst-italic">{{ project.category }}</div>
                                            <div class="text-secondary fw-lighter">Purpose :{{ project.purpose }} </div>
                                            <div class="text-secondary fw-lighter">Skills : {{ project.skill }} </div>
                                            <div class="text-secondary fw-lighter">{{ project.description }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                </div>
                {% endfor %}
            </section>
            
            
            
            <section id="contact">  
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Keep In Touch</span></h2>
                                
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="{{ identity.instagram }}"><i class="bi bi-instagram"></i></a>
                                    <a class="text-gradient" href="{{ identity.linkdin }}"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="{{ identity.github }}"><i class="bi bi-github"></i></a>
                                    <a class="text-gradient" href="{{ identity.github }}"><i class="bi bi-gmail"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
                        
        </main>

        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


